.correct{
    background-color: lawngreen;
}
.incorrect {
    background-color: red;
}
#heads-up-display{
    display: flex;
    justify-content: space-between;
}
#heads-up-display-item-question{
    justify-content: left;
    text-align: center;
    margin: 0;
}
#heads-up-display-item-score{
    justify-content: right;
    text-align: center;
    margin: 0;
}
.heads-up-display-name{
    text-align: center;
    font-size: 24px;
}