#basketball-body, #basketball-header {
    background-color: darkorange;
    color: black;
}
#basketball-body:hover {
    background-color: black;
    color: darkorange;
}
#basketball-footer {
    background-color: black;
    color: darkorange;
    text-decoration: none;
}
#basketball-footer:hover {
    background-color: green;
}
#baseball-body, #baseball-header {
    background-color: white;
    color: red;
}
#baseball-body:hover {
    background-color: red;
    color: white;
}
#football-body, #football-header {
    background-color: saddlebrown;
    color: white;
}
#football-body:hover{
    background-color: white;
    color: saddlebrown;
}
#hockey-body, #hockey-header{
    background-color: black;
    color: slategrey;
}
#hockey-body:hover{
    background-color: slategrey;
    color: black;
}
.col button{
    color: darkorange;
    background-color: black;
    border: 2px solid white;
    margin-left: 10em;
    margin-right: 10em;
    margin-bottom: 2em;
    font-size: 22px;
}

.row button:hover{
    color: black;
    background-color: darkorange;
    border: 2px dotted white;
}